/* CSS files add styling rules to your content */
@font-face {
    font-family: "Aileron Regular";
    src: url("./assets/Aileron-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Italic";
    src: url("./assets/Aileron-italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Thin";
    src: url("./assets/Aileron-thin.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron UltraLight";
    src: url("./assets/Aileron-ultralight.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Thin Italic";
    src: url("./assets/Aileron-thinItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron UltraLight Italic";
    src: url("./assets/Aileron-ultralightItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Light";
    src: url("./assets/Aileron-Light.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Light Italic";
    src: url("./assets/Aileron-LightItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron SemiBold";
    src: url("./assets/Aileron-SemiBold.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron SemiBold Italic";
    src: url("./assets/Aileron-SemiBoldItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Bold";
    src: url("./assets/Aileron-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Bold Italic";
    src: url("./assets/Aileron-BoldItalic.woff") format("woff");
  }
  
  body {
    margin: 2em;
  }
  
  h1 {
    font-family: "Aileron Regular";
  }
  
  .main {
    border-spacing: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .home {
    text-decoration: none;
    position: absolute;
    right: -40%;
    font-size: 16px;
}

a {
  color: black;
 }

  .apprent-one {
    padding: 20px;
    margin-left: 18%;
    margin-right: 18%;
  }
  
  .apprent-two {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
   }
  
  .apprent-three {
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .apprent-one:hover {
    font-family: "Aileron Thin";
    font-style: italic;
    font-size: 24px;
    line-height: 40px;
    margin-top: 10%;;
  }

.apprent-two:hover {
    font-family: "Aileron Italic";
    font-size: 24px;
    line-height: 40px;
    margin-top: 10%;;
  }

  .apprent-three:hover {
    font-family: "Aileron SemiBold Italic";
    font-size: 32px;
    line-height: 40px;
    margin-top: 10%;
  }

  .apprent-one:hover .two .three {
      color: #CFCFCF;
  }