/* CSS files add styling rules to your content */
@font-face {
  font-family: "Cormorant Regular";
  src: url("./assets/Cormorant-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Italic";
  src: url("./assets/Cormorant-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Light";
  src: url("./assets/Cormorant-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant LightItalic";
  src: url("./assets/Cormorant-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Bold";
  src: url("./assets/Cormorant-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant SemiBold";
  src: url("./assets/Cormorant-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant SemiBoldItalic";
  src: url("./assets/Cormorant-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant  Medium";
  src: url("./assets/Cormorant-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant MediumItalic";
  src: url("./assets/Cormorant-SemiBoldItalic.woff2") format("woff2");
}
  
  body {
    margin: 2em;
  }
  
  h1 {
    font-family: "Cormorant Regular";
  }
  
  .main {
    border-spacing: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    width: 100%;
  }
  
  .home {
    text-decoration: none;
    position: absolute;
    right: -40%;
    font-size: 16px;
}

a {
  color: black;
 }

  .apprent-one {
    padding: 20px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
  }
  
  .apprent-two {
    padding: 20px;
    margin-left: 0%;
    margin-right: 0%;
   }
  
  .apprent-three {
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .apprent-one:hover {
    font-family: "Cormorant Light";
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
    margin-top: 40%;
  }

.apprent-two:hover {
    font-family: "Cormorant MediumItalic";
    font-size: 18px;
    line-height: 25px;
    margin-top: 10%;;
  }

  .apprent-three:hover {
    font-family: "Cormorant SemiBoldItalic";
    font-size: 20px;
    line-height: 25px;
    margin-top: 10%;
  }

  .apprent-one:hover .two .three {
      color: #CFCFCF;
  }

/* Common Device Sizes via https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 767px) {
  .main {
    border-spacing: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    width: 50%;
  }
  .apprent-one {
    padding: 20px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 10%;
  }
  
  .apprent-two {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
   }
  
  .apprent-three {
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .apprent-one:hover {
    font-family: "Cormorant Light";
    font-style: italic;
    font-size: 24px;
    line-height: 40px;
    margin-top: 20%;
  }

.apprent-two:hover {
    font-family: "Cormorant MediumItalic";
    font-size: 24px;
    line-height: 40px;
    margin-top: 10%;;
  }

  .apprent-three:hover {
    font-family: "Cormorant SemiBoldItalic";
    font-size: 32px;
    line-height: 40px;
    margin-top: 10%;
  }
  .home {
    margin-top: 20px;
  }
}