/* CSS files add styling rules to your content */
@font-face {
  font-family: "Cormorant Regular";
  src: url("./assets/Cormorant-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Italic";
  src: url("./assets/Cormorant-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Light";
  src: url("./assets/Cormorant-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant LightItalic";
  src: url("./assets/Cormorant-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Bold";
  src: url("./assets/Cormorant-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant SemiBold";
  src: url("./assets/Cormorant-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant SemiBoldItalic";
  src: url("./assets/Cormorant-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant  Medium";
  src: url("./assets/Cormorant-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant MediumItalic";
  src: url("./assets/Cormorant-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Aileron SemiBold Italic";
  src: url("./assets/Aileron-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Aileron Bold";
  src: url("./assets/Aileron-Bold.woff") format("woff");
}

@font-face {
  font-family: "Aileron Bold Italic";
  src: url("./assets/Aileron-BoldItalic.woff") format("woff");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cormorant SemiBold";
  margin: 2em;
  font-size: 16px;
}

h1 {
  font-family: "Cormorant Bold";
  text-align: center;
  margin: auto;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu {
  font-size: 1em;
}

.light {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  padding: 20px;
  text-decoration: none;
  color: #FFD265;
}

.shadow {
  position: absolute;
  bottom: 8px;
  right: 16px;
  padding: 20px;
  text-decoration: none;
}

.apparent {
  position: absolute;
  bottom: 8px;
  left: 16px;
  padding: 20px;
  text-decoration: none;
}

.subtleness {
  position: absolute;
  top: 8px;
  left: 16px;
  padding: 20px;
  font-family: "Cormorant Italic";
  text-decoration: none;
}

.text-showup {
  transition: 0.3s ease;
}
.main-text
{
  font-size: 20px;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  text-align: center;
  font-family: "Cormorant Light";
  font-size: 15px;
  padding: 20px;
  margin: auto;
  width: 80%;
}

.one {
  margin: 20px;
}

.two {
  margin: 20px;
  opacity: 0.5;
}

.three {
  margin: 20px;
  opacity: 0.1;
}

a {
  color: black;
 }

.text-showup:hover {
  opacity: 1;
}

.text-showup:hover .text {
  visibility: visible;
}

.text-showup:hover .main-text {
  display: none;
}

.main-text {
  visibility: visible;
}

.main-text:hover {
  visibility: hidden;
}

/* Common Device Sizes via https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 767px) {
  .main-text {
    font-size: 28px;
  }.text {
    font-size: 80px;
  }
}