/* CSS files add styling rules to your content */
@font-face {
    font-family: "Aileron Regular";
    src: url("./assets/Aileron-Regular.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Italic";
    src: url("./assets/Aileron-italic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Thin";
    src: url("./assets/Aileron-thin.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron UltraLight";
    src: url("./assets/Aileron-ultralight.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Thin Italic";
    src: url("./assets/Aileron-thinItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron UltraLight Italic";
    src: url("./assets/Aileron-ultralightItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Light";
    src: url("./assets/Aileron-Light.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Light Italic";
    src: url("./assets/Aileron-LightItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron SemiBold";
    src: url("./assets/Aileron-SemiBold.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron SemiBold Italic";
    src: url("./assets/Aileron-SemiBoldItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Bold";
    src: url("./assets/Aileron-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Bold Italic";
    src: url("./assets/Aileron-BoldItalic.woff") format("woff");
  }
  body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  .one {
    padding: 20px;
    text-align: left;
    font-size: 12px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .home {
    text-decoration: none;
    position: absolute;
    right: 5%;
    font-size: 12px;
  }
  
  a {
  color: black;
  }
  
  .two {
    padding: 20px;
    text-align: left;
    font-size: 10px;
    position: absolute;
    top: 12%;
    left: 20%;
    color: #575757;
  }
  
  .three {
    padding: 20px;
    text-align: left;
    font-size: 10px;
    position: absolute;
    top: 30%;
    left: 40%;
    color: #575757;
}
  
  .fourth {
    padding: 20px;
    text-align: right;
    font-size: 8px;
    position: absolute;
    top: 55%;
    right: 40%;
    width: 82%;
    color: #737373;
  }

  .fifth {
    padding: 20px;
    text-align: right;
    font-size: 8px;
    position: absolute;
    top: 80%;
    right: 0%;
    width: 82%;
    color: #737373;
  }
  
  .one-animation {
    padding: 20px;
    text-align: left;
    font-size: 12px;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    top: 5%;
    left: 10%;
    color: #FFE6B5;
    letter-spacing: .15em; /* Adjust as needed */
  }
  
  .two-animation {
    padding: 20px;
    text-align: left;
    font-size: 10px;
    position: absolute;
    top: 17.6%;
    left: 21%;
    letter-spacing: .15em; /* Adjust as needed */
    color: #575757;
  }
  
  .three-animation {
    padding: 20px;
    text-align: left;
    font-size: 10px;
    position: absolute;
    top: 35%;
    left: 20%;
    letter-spacing: .15em; /* Adjust as needed */
    color: #FFE6B5;
  }

  .fourth-animation {
    padding: 20px;
    text-align: left;
    font-size: 8px;
    position: absolute;
    top: 57%;
    right: 40%;
    width: 82%;
    letter-spacing: .15em; /* Adjust as needed */
    color: #FFE6B5;
  }

  .fifth-animation {
    padding: 20px;
    text-align: left;
    font-size: 8px;
    position: absolute;
    top: 73%;
    right: 0%;
    letter-spacing: .15em; /* Adjust as needed */
    color: #FFE6B5;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  