/* CSS files add styling rules to your content */
@font-face {
  font-family: "Cormorant Regular";
  src: url("./assets/Cormorant-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Italic";
  src: url("./assets/Cormorant-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Light";
  src: url("./assets/Cormorant-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant LightItalic";
  src: url("./assets/Cormorant-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant Bold";
  src: url("./assets/Cormorant-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant SemiBold";
  src: url("./assets/Cormorant-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant SemiBoldItalic";
  src: url("./assets/Cormorant-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant  Medium";
  src: url("./assets/Cormorant-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant MediumItalic";
  src: url("./assets/Cormorant-SemiBoldItalic.woff2") format("woff2");
}
  
  @font-face {
    font-family: "Aileron SemiBold Italic";
    src: url("./assets/Aileron-SemiBoldItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Bold";
    src: url("./assets/Aileron-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: "Aileron Bold Italic";
    src: url("./assets/Aileron-BoldItalic.woff") format("woff");
  }
  body {
    font-family: "Cormorant", serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  .one {
    padding: 20px;
    text-align: left;
    font-size: 10px;
    margin-left: -20%;
    margin-right: 0%;
  }
  
  .home {
    text-decoration: none;
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 10px;
  }
  
  a {
  color: black;
  }
  
  .two {
    padding: 20px;
    text-align: left;
    font-size: 10px;
    position: absolute;
    top: 20%;
    left: 20%;
    color: #575757;
    width: 100%;
  }
  
  .three {
    padding: 20px;
    text-align: left;
    font-size: 8px;
    position: absolute;
    top: 40%;
    left: 20%;
    color: #575757;
    width: 100%;
}
  
  .fourth {
    padding: 20px;
    text-align: right;
    font-size: 8px;
    position: absolute;
    top: 55%;
    right: 30%;
    width: 82%;
    color: #737373;
  }

  .fifth {
    padding: 20px;
    text-align: right;
    font-size: 8px;
    position: absolute;
    top: 80%;
    right: 0%;
    width: 82%;
    color: #737373;
  }
  
  .one-animation {
    padding: 20px;
    text-align: left;
    font-size: 10px;
    margin-left: -20%;
    margin-right: 0%;
    position: absolute;
    top: 10%;
    left: 10%;
    color: #FFE6B5;
    letter-spacing: .15em; /* Adjust as needed */
  }
  
  .two-animation {
    padding: 20px;
    text-align: left;
    font-size: 10px;
    position: absolute;
    top: 27%;
    left: 20%;
    width: 100%;
    letter-spacing: .15em; /* Adjust as needed */
    color: #575757;
  }
  
  .three-animation {
    padding: 20px;
    text-align: left;
    font-size: 8px;
    position: absolute;
    top: 35%;
    left: 20%;
    letter-spacing: .15em; /* Adjust as needed */
    color: #FFE6B5;
  }

  .fourth-animation {
    padding: 20px;
    text-align: left;
    font-size: 8px;
    position: absolute;
    top: 57%;
    right: 29%;
    width: 100%;
    letter-spacing: .15em; /* Adjust as needed */
    color: #FFE6B5;
  }

  .fifth-animation {
    padding: 20px;
    text-align: left;
    font-size: 8px;
    position: absolute;
    top: 73%;
    right: 0%;
    letter-spacing: .15em; /* Adjust as needed */
    color: #FFE6B5;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* Common Device Sizes via https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 767px) {
  .one {
    padding: 20px;
    font-size: 12px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .home {
    position: absolute;
    right: 5%;
    font-size: 12px;
  }
  .one-animation {
    font-size: 12px;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    top: 6%;
    left: 10%;
  }
  .two {
    font-size: 12px;
    position: absolute;
    top: 16%;
    left: 20%;
  }
  
  .two-animation {
    font-size: 12px;
    position: absolute;
    top: 19.5%;
    width: 100%;
  }
  .three {
    font-size: 10px;
    position: absolute;
    top: 27%;
    left: 20%;
}
.three-animation {
  font-size: 10px;
  position: absolute;
  top: 30%;
  left: 20%;
}
.fourth {
  font-size: 8px;
  position: absolute;
  top: 55%;
  right: 40%;
  width: 82%;
  color: #737373;
}
.fourth-animation {
  font-size: 8px;
  right: 40%;
  width: 82%;
}
}